* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	margin: 0px;
	padding: 10px;
	text-align: center;
}
header {
	padding: 60px;
	color: black;
	margin-right: 2px;
	margin-top: 5px;
}
section {
	width: 55%;
	float: left;
	height: 180px;
	box-shadow: 10px 10px 10px 10px #ABB2B9 ;
	background-color: #d8d8e3  ;
	border-radius: 20px;
	margin-right: 2px;
	margin-left: 10%;
}
.right {
	width: 25%;
	float: left;
	height: 200px;
	margin-left: 20px;
	border-radius: 20px;
}
.main* {
	border-radius: 10px;
}
.main::after {
	content: "";
	clear: both;
	display: table;
}
.container{
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.container span{
	color:white;
	text-transform: uppercase;
	display: block;
}

.text1{
	color: white;
	font-size: 30px;
	font-weight: 350;
	letter-spacing: 8px;
	margin-bottom: 40px;
	background: black;
	position: relative;
	animation: text 3s 1;
}
#hello_man {
		box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px gray;
      -webkit-box-shadow: 10px 10px 5px gray;
      -khtml-box-shadow: 10px 10px 5px gray;
}
#btn {
	background-color: #4CAF50; 
  	color: black; 
  	border: 2px solid #4CAF50;
}
#wlc_btn {
	background-color: #4CAF50; 
}
#btn:hover {
	background-color: #4CAF50;
  	color: #4CAF50;
}
.side-bar{
	width: 50px;
	height: 100vh;
	background: rgba(90, 90, 120, 0.3);
	position: absolute;
	left:0;
	top: 0;
	position: fixed;
}

.menu{
    display: block;
	width: 20px;
	margin: 20px auto 0;
	cursor: pointer;
}
.social-links img, .useful-links img{
	width: 50px;
	margin: 10px auto;
	margin-top: 0px auto;
	cursor: pointer;
}
.social-links{
	width: 50px;
	text-align: center;
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
}
.useful-links{
	width: 50px;
	text-align: center;
	position: absolute;
	bottom: 90px;
}
.content {
	float: right;
	text-align: left;
	margin-left: 10%;
	margin-right: 35%;
	font-size: 20px;
}
@keyframes text {
	0%{
		color: black;
		margin-bottom: -40px;
	}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
	}
	85%{
		letter-spacing: 8px;
		margin-bottom: -40px;
	}
}